<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>

        <!-- BitcoinLib settings start -->

        <!-- Shared RPC settings start -->
        <add key="RpcRequestTimeoutInSeconds" value="10"/>
        <!-- Shared RPC settings end -->

        <!-- Biblepay settings start -->
        <!-- Biblepay settings end -->
      
        <!-- Demo client settings start -->
        <add key="ExtractMyPrivateKeys" value="false" />
        <!-- Demo client settings end -->
      
        <!-- BitcoinLib settings end -->

    </appSettings>
</configuration>
